@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$blue: #3D4B86;
$orange: #f58031;
$red: #ef3d3c;
$green: #39b54a;
$grey: #58595b;

$size-1: 1.5rem;
$size-2: 1.4rem;
$size-3: 1.3rem;
$size-4: 1.2rem;
$size-5: 1.1rem;

$family-sans-serif: Helvetica, Arial, sans-serif;

$primary: $orange;

.button {
  font-weight: 800;
}

@import "bulma/sass/utilities/derived-variables";
@import "bulma/bulma";

@import "partials/buttons";
@import "partials/effects";
@import "partials/containers";
@import "partials/tab-panel";

// load last so it gets all of the above styles
@import "partials/ad-catalog";
